.container{
    background: #f9f9f9;
    padding-left: 17%;
    padding-top: 20px;
    padding-right: 2%;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}
.large-container{
    padding-left: 7%;
}