.recommended {
    flex-basis: 30%;
}

.side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

}

.side-video-list img {
    flex-basis: 49%;
    width: 50%;

}  
.vid-info {
    flex-basis: 48%;
}
.vid-info h4 {
    font-size: 14px;
    font-weight: 600;
    color: #0f0f0f;
    margin-bottom: 6px;
}